#####  Name : Enter Your name here

In [1]:
input("Enter Your Name:")

'reham essa'

##### Given a list of numbers, Calculate and print the sum of the list.

In [3]:
list1=[2, 0, 3, 14, 76, 5, 8]
print(sum(list1))

108

#### Given a list of numbers, Write a Python program to printthe even number of this list.

In [8]:
list2=[2, 0, 3, 13, 76, 5, 8, 10, 1, 33, 42]
for number in list2:
    if number %2 == 0:
        print( number)

2
0
76
8
10
42

#### Given 2 numbers a, b, Write a Python program to print the result of division a / b if b isn't zero and print "Error!! Division by zero" if b is zero

In [9]:
a =int(input())
b = int(input())
if b == 0:
	print("result=",0)
else:
	print("result=", a / b)

result=0

####  Iterate over the following list, and print a new line for each element to match the follwing conditions: 
* Print "Even less than 10" if the number is even and less than 10.
* Print "Even greater than 10" if the number is even and greater than 10.
*  Print "Odd less than 10" if the number is odd and less than 10.
* Print "Odd greater than 10" if the number is odd and greater than 10.
* Print "Zero" if the number is zero.

In [10]:
list3=[2, 0, 3, 13, 76, 5, 8, 10, 1, 33, 42]

In [11]:
for number in list3:
    if number %2 == 0 and number<10 :
        print( number)

2
0
8

In [12]:
for number in list3:
    if number %2 == 0 and number>10 :
        print( number)

76
42

In [13]:
for number in list3:
    if number %2 != 0 and number<10 :
        print( number)

3
5
1

In [14]:
for number in list3:
    if number %2 != 0 and number>10 :
        print( number)

13
33

In [15]:
for number in list3:
    if number == 0  :
        print( number)

0

####  Find the index of the value "76" in the following list , 
* add this index to the end of the list,
* then sort this list 
* print the list and its lenght.

In [16]:
list4=[2, 0, 3, 13, 76, 5, 8, 10, 1, 33, 42]

In [17]:
print(list4.index(76))

4

In [18]:
list4.append(4)
list4

[2, 0, 3, 13, 76, 5, 8, 10, 1, 33, 42, 4]

In [24]:
print(list4 , len(list4))

[2, 0, 3, 13, 76, 5, 8, 10, 1, 33, 42, 4] 12

#### Given the following dictionary, 
* Change the value of age to be 42 
* add a key to the dictionary named "last_name" and set its value to 'Turing'
* remove the country key 
* print the result dictionary

In [25]:
dict1 = {'first_name': 'Alan', 'age': 26, 'country': 'England'}

In [26]:
dict1["age"]=42

In [27]:
dict1

{'first_name': 'Alan', 'age': 42, 'country': 'England'}

In [28]:
dict1["last_name"]="Turing"

In [29]:
dict1

{'first_name': 'Alan', 'age': 42, 'country': 'England', 'last_name': 'Turing'}

In [30]:
dict1.pop("country")

'England'

In [31]:
dict1

{'first_name': 'Alan', 'age': 42, 'last_name': 'Turing'}

#### Given the following set:
* Add number 10 to the set
* Then add the following numbers to the set: 6, 4, 5
* remove the element 'Ali'
* print the set

In [32]:
set1 = {1, 2, 3, 7.5, 'Ali'}

In [34]:
set1.update({10})

In [35]:
set1

{1, 10, 2, 3, 7.5, 'Ali'}

In [36]:
set1.update({6,4,5})

In [37]:
set1

{1, 10, 2, 3, 4, 5, 6, 7.5, 'Ali'}

In [40]:
set1.remove("Ali")

In [41]:
set1

{1, 2, 3, 4, 5, 6, 7.5, 10}