# List, Tuple ,Dict , and Set
### List
* Indexing
* Mutable
* Order
* Allow Duplicate
* Dynamic

In [1]:
x=[1,2,3]
print(type(x))

<class 'list'>

In [2]:
print(id(x))#generate unique address memory

2559970870720

In [4]:
print(id(x[0]))# get address of first element

2559890030832

In [5]:
x=[2,3,67,'ali',1.25,False]

In [6]:
x[4]='Ahmed'

In [7]:
print(x)

[2, 3, 67, 'ali', 'Ahmed', False]

In [8]:
name='Ramy'
print(type(name))

<class 'str'>

In [9]:
for x in name:
    print(x)

R
a
m
y

In [10]:
name[3]

'y'

In [11]:
for i in range(len(name)):
    print(i)

0
1
2
3

In [12]:
list_name=list(name)

In [13]:
print(list_name)

['R', 'a', 'm', 'y']

In [16]:
list_name[-1]='i'

In [17]:
print(list_name)

['R', 'a', 'm', 'i']

In [18]:
strnme=str(list_name)
print(strnme)

['R', 'a', 'm', 'i']

In [20]:
strnme=''.join(list_name)
print(type(strnme),strnme)

<class 'str'> Rami

In [35]:
x=[2,3,67,'ali',1.25,False]

In [25]:
x[-6]

2

In [26]:
x.append(11)
x

[2, 3, 67, 'ali', 1.25, False, 11]

In [36]:
x.remove(0)

In [37]:
x

[2, 3, 67, 'ali', 1.25]

In [38]:
x.remove(2)

In [41]:
x.append(1)
x

[3, 67, 'ali', 1.25, 1, [1.2], 1]

In [40]:
x.append([1.2])

In [42]:
x.extend([9,0])

In [43]:
x

[3, 67, 'ali', 1.25, 1, [1.2], 1, 9, 0]

In [44]:
x.pop(0)
x

[67, 'ali', 1.25, 1, [1.2], 1, 9, 0]

In [45]:
# sorting
list1=[6,8,1,4,6,8]
list1.sort()

In [46]:
list1

[1, 4, 6, 6, 8, 8]

In [47]:
list1.reverse()
list1

[8, 8, 6, 6, 4, 1]

#### searching

In [48]:
x

[67, 'ali', 1.25, 1, [1.2], 1, 9, 0]

In [50]:
'ali' in x

True

In [51]:
x.index("ali")

1

In [53]:
for val in x:
    print(val)

67
ali
1.25
1
[1.2]
1
9
0

## Tuple
* Fixed List
* immutable
* Ordering
* Allow Duplicate
* ()

In [56]:
y=(3,7,6,5,"Ali")
y

(3, 7, 6, 5, 'Ali')

In [57]:
type(y)

tuple

In [58]:
y[0]

3

In [59]:
y.index("Ali")

4

### loop

In [60]:
for val in y:
    print(val)

3
7
6
5
Ali

In [61]:
0 in y

False

## Dicrionary
|||
| -- | -- |
| key1 | value1 |
| key2 | value2 |
| key3 | value3 |
* order
* changeble
* duplicate

In [62]:
student={"lastname":"Hani","firstname":["Ali","Ahmed"] ,"grade":100}

In [63]:
student

{'lastname': 'Hani', 'firstname': ['Ali', 'Ahmed'], 'grade': 100}

In [64]:
print(type(student))

<class 'dict'>

In [65]:
student["firstname"][0]

'Ali'

In [66]:
student["gender"]="male"

In [67]:
student

{'lastname': 'Hani',
 'firstname': ['Ali', 'Ahmed'],
 'grade': 100,
 'gender': 'male'}

In [68]:
d={1:"one",2:"two"}

In [69]:
d[1]

'one'

In [70]:
d.pop(1)

'one'

In [71]:
d

{2: 'two'}

### loop

In [73]:
for item in student:
    print(item)
print('------------------') 
for item in student.keys():
    print(item)  
#by default we loop on keys of the dict

lastname
firstname
grade
gender
------------------
lastname
firstname
grade
gender

In [74]:
for val in student.values():
    print(val)

Hani
['Ali', 'Ahmed']
100
male

In [76]:
for k,v in student.items():
    print(k,v)

lastname Hani
firstname ['Ali', 'Ahmed']
grade 100
gender male

### search

In [77]:
"lastname" in student.keys()

True

In [78]:
0 in student.values()

False

# set
* duplicate
* Unorder
* Unindexed
* Immutable

In [82]:
myset={1,2,5,8}
print(type(myset),myset)

<class 'set'> {8, 1, 2, 5}

In [80]:
myset.update({3,5,7,"hani"})

In [84]:
myset.clear()
myset

set()

In [85]:
 del myset
 myset

NameError: name 'myset' is not defined

In [86]:
myset={3,6,8}
print(type(myset))

<class 'set'>

In [87]:
1 in myset

False